<header>
	<% logo = image_tag("twittwo_logo (360x160).png", :alt => "Sample App", :class => "round", :size => "180x80") %>
	<%= link_to logo, root_path %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Help", help_path %></li>
			<li><%= link_to "Sign in", signin_path %></li>
		</ul>
	</nav>
</header>	
